::-webkit-scrollbar {
    width: 8px;
    /* Ajusta el ancho de la barra */
    height: 50%;
    /* NO funciona en barras de desplazamiento vertical */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    /* Opacidad del 50% */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    /* Color de la barra con opacidad */
    border-radius: 10px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: #F1E3C8;
    src: url('bay-tavern-s.ttf') format('truetype');
    justify-content: center;
    box-sizing: border-box;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background: radial-gradient(#A30E4D, #511430);
}

.separador {
    background-color: rgba(0, 0, 0, 0.205);
    height: 100%;
}

@media (max-width: 601px) {

    .separador {
        background-color: rgba(0, 0, 0, 0);
    }
}