.content-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-images img {
    width: 50px;
    height: auto;
    border-radius: 100%;

}

.content-images p {
    display: flex;
    align-items: center;

}

fieldset {
    padding: 10px;
}

.separador {
    background-color: rgba(0, 0, 0, 0.205);
    height: 100%;
}